body {
    background-color: black;
}
#display {
    display: flex;
    justify-content: center;
}

#display-table {
    background-color: black;
    border-color: white;
    border-style: solid;
}

#display-table tr {
    min-height: 15px;
    max-height: 15px;
    height: 15px;
}

#display-table td {
    min-width: 15px;
    max-width: 15px;
    height: 15px;
}

.header {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.led-point {
    border: 1px solid white;
    border-radius: 50%;
}