body {
    background-color: black;
    color: #fff;
}
#display {
    display: flex;
    justify-content: center;
}

#display-table {
    border-color: #fff;
    border-style: solid;
}

#display-table tr {
    min-height: 15px;
    max-height: 15px;
    height: 15px;
}

#display-table td {
    min-width: 15px;
    max-width: 15px;
    height: 15px;
}

.header {
    font-family: sans-serif;
    text-align: center;
}

#display-config {
    padding: 20px;
}

#display-config div {
    margin-bottom: 10px;
}

.led-point {
    border: 1px solid white;
    border-radius: 50%;
}
